In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import tree,datasets
from sklearn.model_selection import train_test_split

In [30]:
strs = '年龄-单位性质-权重-学历-受教育时长-婚姻状况-职业-家庭情况-种族-性别-资产所得-资产损失-周工作时长-原籍-收入'
L = strs.split('-')
data = pd.read_csv('adult.csv',header=None,index_col=False,names=L)

In [31]:
str2 = '年龄-单位性质-学历-性别-周工作时长-职业-收入'
L2 = str2.split('-')
data_little = data[L2]

In [32]:
data_little.head()

,年龄,单位性质,学历,性别,周工作时长,职业,收入
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [33]:
data_dummies = pd.get_dummies(data_little)

In [34]:
list(data_little.columns)

['年龄', '单位性质', '学历', '性别', '周工作时长', '职业', '收入']

In [35]:
#将文本数据转化为数值
list(data_dummies.columns)

['年龄',
 '周工作时长',
 '单位性质_ ?',
 '单位性质_ Federal-gov',
 '单位性质_ Local-gov',
 '单位性质_ Never-worked',
 '单位性质_ Private',
 '单位性质_ Self-emp-inc',
 '单位性质_ Self-emp-not-inc',
 '单位性质_ State-gov',
 '单位性质_ Without-pay',
 '学历_ 10th',
 '学历_ 11th',
 '学历_ 12th',
 '学历_ 1st-4th',
 '学历_ 5th-6th',
 '学历_ 7th-8th',
 '学历_ 9th',
 '学历_ Assoc-acdm',
 '学历_ Assoc-voc',
 '学历_ Bachelors',
 '学历_ Doctorate',
 '学历_ HS-grad',
 '学历_ Masters',
 '学历_ Preschool',
 '学历_ Prof-school',
 '学历_ Some-college',
 '性别_ Female',
 '性别_ Male',
 '职业_ ?',
 '职业_ Adm-clerical',
 '职业_ Armed-Forces',
 '职业_ Craft-repair',
 '职业_ Exec-managerial',
 '职业_ Farming-fishing',
 '职业_ Handlers-cleaners',
 '职业_ Machine-op-inspct',
 '职业_ Other-service',
 '职业_ Priv-house-serv',
 '职业_ Prof-specialty',
 '职业_ Protective-serv',
 '职业_ Sales',
 '职业_ Tech-support',
 '职业_ Transport-moving',
 '收入_ <=50K',
 '收入_ >50K']

In [36]:
data_dummies.head()

,年龄,周工作时长,单位性质_ ?,单位性质_ Federal-gov,单位性质_ Local-gov,单位性质_ Never-worked,单位性质_ Private,单位性质_ Self-emp-inc,单位性质_ Self-emp-not-inc,单位性质_ State-gov,...,职业_ Machine-op-inspct,职业_ Other-service,职业_ Priv-house-serv,职业_ Prof-specialty,职业_ Protective-serv,职业_ Sales,职业_ Tech-support,职业_ Transport-moving,收入_ <=50K,收入_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [39]:
features = data_dummies.loc[:,'年龄':'职业_ Transport-moving']
X = features.values
y = data_dummies['收入_ >50K'].values

In [40]:
#数据形态
X.shape,y.shape

((32561, 44), (32561,))

In [41]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

In [42]:
go_dating_tree = tree.DecisionTreeClassifier(max_depth=5)
go_dating_tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [44]:
#模型得分
go_dating_tree.score(X_test,y_test)

0.7962166809974205

In [47]:
Mr_z = [[37,40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]]
S = go_dating_tree.predict(Mr_z)

In [49]:
S[0]

0